name: NPM Publish
on:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "20"
      - run: npm install
      - name: Test eslint-formatter-rdjson
        run: ./eslint-formatter-rdjson/test.sh
      - uses: JS-DevTools/npm-publish@19c28f1ef146469e409470805ea4279d47c3d35c # v3.1.1
        with:
          package: ./eslint-formatter-rdjson/package.json
          token: ${{ secrets.NPM_TOKEN }}
